/*-------------------------------------------------------------------------------------------*/
/* BASE */
/*-------------------------------------------------------------------------------------------*/

// Style used when top-bar has the show/hide function applied
// Prevents top-bar from being covered up by admin bar when logged in
body.admin-bar .nav-container .top-bar {
	margin-top: 32px; //Height of WP Admin Bar
}
@include breakpoint(medium down) {
	body.admin-bar .nav-container .top-bar {
		margin-top: 46px; //Height of WP Admin Bar (Medium Down)
	}
}

body {
	height: auto; //  Sticky Footer! Works only when body height is auto, not 100%.
	font-family: $font-stack;
	overflow-y: scroll;
	color: $bodyColor;
}

// Style browser scrollbars (only works in Chrome and Safari)
body {
	&::-webkit-scrollbar {
		width: 1em;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	&::-webkit-scrollbar-thumb {
		background-color: red;
		//outline: 1px solid slategrey;
		//border-radius: 50px;
	}
}



// Removes blue outline around links
a {
   outline: 0;
}

hr {
	border-bottom: 1px solid $lightgray;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.wp-caption {
	&.alignleft,
	&.alignright,
	&.aligncenter,
	&.alignnone {
		width: auto !important;
	}
}
img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
}
img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
}

img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 1.5em;
}

/*You can also use Foundations class: .clearfix */
/* Clear floats */
.group:before,
.group:after 	{content: "\0020"; display: block; height: 0; overflow: hidden;}
.group:after 	{clear: both;}
.group 			{zoom: 1;}  /* For IE 6/7 (trigger hasLayout) */



/*-------------------------------------------------------------------------------------------*/
/* TYPOGRAPHY */
/*-------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5 {
	font-family: $font-stack-light;
	line-height: 1.2;
	letter-spacing: -1px;
	//color: $green;
	em {
		font-family: $font-stack-light-itc;
		font-style: normal;
		strong {
			font-family: $font-stack-bold-itc;
			font-style: normal;
		}
	}
	strong {
		font-family: $font-stack-bold;
		em {
			font-family: $font-stack-bold-itc;
			font-style: normal;
		}
	}

}

p {
  font-size: 1rem;
  line-height: 1.4;
  //color: red;
	em {
		font-family: $font-stack-regular-itc;
		font-style: normal;
		color: purple;
		strong {
			font-family: $font-stack-bold-itc;
			font-style: normal;
			font-weight: normal !important;
			color: green;

		}//strong
	}
}

strong {
	font-family: $font-stack-bold;
	font-weight: normal !important;
}

.entry-content,
#tinymce {
	ul {
		overflow: auto;
		list-style-position: outside;
		padding-left: 2.5rem;
		line-height: 1.2;
		margin-left: 0;
		li {
			margin-bottom: 0.5rem;
			strong {
				font-family: $font-stack-bold;
				font-weight: normal !important;
				color: red;
			}//strong
			em {
				font-family: $font-stack-regular-itc;
				font-style: normal;
				//color: red;
				strong {
					font-family: $font-stack-bold-itc;
					font-style: normal;
					font-weight: normal !important;
					color: red;

				}//strong
			} //em
		}//li
	}//ul
}

@include breakpoint(medium down) {
	h1, h2, h3, h4, h5 {
		font-size: 2rem;
	}
}


blockquote {
	background-color: white;
	border-left: 1em solid #5236a0;
	margin: 1.5em 0 1.5em;
	padding: 1em 1.5em 0 2.5em;
	position: relative;
	p {
		font-family: $font-stack-regular-itc;
		color: red;
		text-align: center;
	}
	&:before {
		color: #392570;
		content: "\201C";
		font-size: 5em;
		position:absolute;
		left:5px;
		top: 0.6em;
		line-height: 0.1em;
	}
	&:after {
		color: #392570;
		content: "\201D";
		font-size: 5em;
		position:absolute;
		right:3px;
		bottom: 0em;
		line-height: 0.1em;
	}
}


/*-------------------------------------------------------------------------------------------*/
/* MISC */
/*-------------------------------------------------------------------------------------------*/

.sticky { /* Add_styles */ }

.bypostauthor { /* Add_styles */ }

.top-bar li.menu-text a {
	padding: 0; // Fixes aligment issue when .top-bar site-name is a link
	font-family: $font-stack-bold;
	font-weight: normal;
}

.off-canvas-wrapper { // Fixes reveal issues on mobile with custom jquery code in custom-fucntions.php in inactive
    //-webkit-overflow-scrolling: auto;
}

.js-off-canvas-exit.is-visible {
	z-index: 10000; // Places off-canvas trigger above everything
	background: rgba(255, 255, 255, .5); // Controls overlay color when active
}
.shadow {
	  //box-shadow: 5px 5px 6px rgba(0,0,0,.2);
	  box-shadow: 0 8px 6px -6px rgba(0,0,0,.2);
}

// Used for content component and wrapping <a> tag around the table
a > table p {
	color: $bodyColor;
}



/*-------------------------------------------------------------------------------------------*/
/* DATA BALANCER */
/*-------------------------------------------------------------------------------------------*/

// Data-Balancer Styles
.data-balance .row .column {
  background-color:#efefef;
  padding:1%;
  outline:solid 1px #808080;
  margin-bottom:1px;
  text-align:center;
}

.balancer {
	background: red;
}





/*-------------------------------------------------------------------------------------------*/
/* SVG */
/*-------------------------------------------------------------------------------------------*/

svg {
	//background: red;
	//width: auto;
	width: 100px;
	height: 100px;
}
svg.pin {
	height: 35px;
	width: 35px;
}
svg.facebook {
	height: 35px;
	width: 35px;
}
svg #pin path {
	fill:deepskyblue;
}
li.facebook {
	font-size: 1rem;
}
li.facebook svg {
	height: 20px;
	width: 20px;
	margin-right: 10px;
    display:table-cell;
    vertical-align : middle;
    display: inline-block;
}



/*-------------------------------------------------------------------------------------------*/
/* SASS: TABLE ALIGNMENT (NEEDS MIXINS.SCSS SNIPPET) */
/*-------------------------------------------------------------------------------------------*/

.align-container {
	position: relative;
	//background: #f06d06;
	//xbackground-color: rgba(255, 0, 0, 0.5) !important;
	width: 50%;
	//height: 200px;
	// margin: 20px auto;
}

.align {
	//background: white;
	//padding: 20px;
	width: 100%;
	text-align: center;
	&.both {
		@include center(both);
	}

	&.top {
		@include center(top);
	}

	&.right {
		@include center(right);
	}

	&.bottom {
		@include center(bottom);
	}

	&.left {
		@include center(left);
	}
}


.parent {
  position: relative;
  //background: #f06d06;
  //background-color: rgba(255, 0, 0, 0.5) !important;
  width: 100%;
  height: 100%;
  //margin: 20px auto;
}

.child {
  background: white;
  padding: 20px;

  &.both {
    @include center(both);
    width: 80%;
  }

  &.top {
    @include center(top);
  }

  &.right {
    @include center(right);
  }

  &.bottom {
    @include center(bottom);
  }

  &.left {
    @include center(left);
  }

}












/*-------------------------------------------------------------------------------------------*/
/* HEADLINES */
/*-------------------------------------------------------------------------------------------*/

.headlines {
	text-align: center;
	h1 {
		font-family: $font-stack-bold;
	}
	p {
		font-size: 1.5rem;
		font-family: $font-stack-light;
	}
}





/*-------------------------------------------------------------------------------------------*/
/* MODULES */
/*-------------------------------------------------------------------------------------------*/

.module-section {
	//margin-bottom: 30px;
	//padding: 20px;
}

.module-background {
	//min-height: $module-height;
	width: 100%;
	//background-position: center top;
	background-size: cover;
	background-position: center top;
}
.module-wrapper {
	//background: rgba(0, 0, 0, 0.2) !important;
	//background: rgba(68, 132, 251, 0.8) !important;
	height: 100%;
	//min-height: 100px;
	h2 {
		margin-bottom: 0;
		font-size: 2rem;
		line-height: 1;
		text-transform: uppercase;
		font-family: $font-stack-bold;
		//height: 45px;
		//background-color: rgba(248, 150, 30, 0.8);
		color: white;
	}
}



.section-table-wrapper {
	table,
	table tbody,
	table tbody th,
	table tbody tr,
	table tbody td {
		padding: 0;
		margin: 0;
		border: none;
		background-color: transparent;
	}
	tr {
		height: 100%;
	}
}
@include breakpoint(medium down) {

	.section-table-wrapper {
		table tbody th,
		table tbody td {
			padding: 0;
			height: 100% !important;

		}
	}
	.section-header-component {
		height: 100% !important;
		min-height: 100% !important;
		padding: 0 !important;
		td div {
			width: 100% !important;
		}
	}
	.align.both {
		position:inherit;
		top:inherit;
		left: auto;
		transform: inherit;
		width: 100% !important;
	}
}



.section-container {
	background: orange;
	margin-bottom: 20px;
}
.section-description {
	 background: fuchsia;
}

.header-container {
	margin-bottom: 40px
}
.header-none,
.header-section,
.header-featured {
	text-align: center;
	//padding: 20px;
}
.header-none {
	//background: white;
}
.header-section {
	//background: fuchsia;
}
.header-featured {
	//background-color: blue;
	//background-image: url("../images/compass-work-background.png");
	background-repeat: no-repeat;
	background-position: center top;
	//min-height: 400px;
	background-size: cover;
	//color: white;
}

.gallery-container {
	text-align: center;
}




.block-container {
	/* Center elements*/
	text-align: center !important;
	/* Removes natural margin to element causing grid to break */
	font-size: 0;
}
.block-container a {
    //background: rgba(0, 255, 163, 0.65);
	display: block;
	height: auto;
	width: 100%;
	cursor: pointer;
	padding: 0;
	text-align: left;
}
.block-container .gallery-item-link {
    float:none !important;
    display: inline-block !important;
    vertical-align: top;
    font-size: 1rem;
}

.gallery-item-link.component-wrapper {
    padding: 0;
}















@include breakpoint(medium only) {
	.header-section {
		h1, h1 span {
			//color: purple !important;
			font-size: 4rem !important;
		}
		h2, h2 span {
			//color: purple;
			font-size: 2.5rem !important;
		}
		h3, h3 span {
			//color: purple !important;
			font-size: 2.5rem !important;
		}
		p {
			//color: purple;
			font-size: 1.125rem;
			//padding: 20px 0 0;
		}
		.gallery-container {
			.gallery-section {
				margin-bottom: 0;
				width: 180px;
			}
		}
	}
	.header-featured {
		h1, h1 span {
			font-size: 4rem !important;
			margin-bottom: 20px;
		}
		.gallery-container {
			margin-top: 10px;
			.gallery-section {
				width: 250px;
			}
		}
	}
}


@include breakpoint(small only) {
	.header-section {
		h1, h1 span {
			//color: red !important;
			font-size: 3.875rem !important;
			line-height: 1.2;
			margin-bottom: 20px;
		}
		h2, h2 span {
			//color: red;
			font-size: 2rem !important;
		}
		h3, h3 span {
			//color: red !important;
			font-size: 1.875rem !important;
		}
		p {
			//color: red;
			font-size: 1rem;
			//padding: 20px 0 0;
		}
		.gallery-container {
			.gallery-section {
				//float: left;
				width: 100%;
				//width: 150px;
				//width: 225px;
				margin-bottom: 10px;
				img[src$=".svg"] {
					height: auto !important;
					width: 160px !important;
				}
				img,
				img[src$=".svg"] {
					width: 160px;
					height: auto;
				}
				button {
					//color: purple;
					font-size: 1.25rem;
					padding: 10px 15px;
				}
			}
			.gallery-list {
				background-color: $lightgray;
				border: 2px solid darken($lightgray, 10%);
				border-radius: 10px;
			}
		}
		hr {
			display: none;
		}
	}
	.header-featured {
		background-color: $blue;
		background-repeat: repeat;
		background-size: contain;
		border-radius: 5px;
		//margin: 0 20px;
		h1, h1 span {
			font-size: 4rem !important;
			margin-bottom: 20px;
		}
		.gallery-container {
			.gallery-section {
				width: 100%;
				background-color: darken($blue, 10%);
				border-radius: 5px;
				p {
					color: white;
				}
			}
		}
	}
}

/*-------------------------------------------------------------------------------------------*/
/* COMPONENTS   */
/*-------------------------------------------------------------------------------------------*/

.component-link {
	border: 10px solid blue;
	display: block;
}

// Custom ACF Table plugin
// Plugin: advanced-custom-fields-table-field

table.acf-table {
	thead {
		background: red !important;
	}
	tr {
		td:nth-child(odd) {
			background: green;
			width: 25% !important;
		}
	}
}
li.font-awesome {
	font-size: 2rem;
	line-height: 1;
	background: rgba(123, 213, 246, 0.98);
	i.fa {
		background: red;
		//font-size: 3rem;
		color: blue;
		&:hover {
			color: green;
		}
	}
}



.highlight {
	display: block;
	margin-bottom: 40px;
	background: #fff6cb;
}

.page-link-module {
	.column,
	.columns {
		background-color: fuchsia;
	}
	a.button-reveal {
		height: 100%;
		display: block;
	}
}

.add-border{
  border: dashed 1px #000000;
}

.header-featured-image {
	text-align: center;
	img {
		width: 100%;
		//max-width: 1200px;
		height: auto;
	}
}
.featured-header:first-of-type {
	// Comment out to position flexslider on top of navigation.
	// Uncomment places container under main menu
	//margin-top: -$nav-height;
}

.gallery-container {
	margin-top: 40px;
}

.thumbslist {
	text-align: center;
	.list {
		display: inline-block;
		width: 200px;
	}
}

.buttonTest {
	background: red;
	display: inline-block;
	height: 300px;
	width: 300px;
}
.header-none {
	.gallery-container {
		.gallery-section {
			width: 100%;
		}
	}
}

.module-section .table-overlay.null {
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.columns.overlay-wrapper {
	// Padding removed to allow for full color overlay
	padding: 0;
	.overlay-container {
		// Padding is added to match F6 default styles
		//padding-left: 0.9375rem;
		//padding-right: 0.9375rem;
	}
}


.overlay-wrapper {
	table {
		margin-bottom: 0;
		tbody {
			background-color:transparent;
			border: none;
		}
		td {
			//vertical-align: middle;
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			padding-top: 0.9375rem;
			padding-bottom: 0.9375rem;
		}
	}
}


.content-height {
	height: 100%;
}


table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
}


/*-------------------------------------------------------------------------------------------*/
/* CATEGORY FEED */
/*-------------------------------------------------------------------------------------------*/
.category-feed .row.column .row .column:nth-child(1) > article,
.category-feed .row.column .row .column:nth-child(2) > article {
    //background: red;
    //border-top: none;
	//padding-top: 0;
}
.category-feed .row.column .row .column > article {
	//background: blue;
	//border-top: 1px solid #ccc;
	//padding-top: 30px;
}

.category-description {
	p {
		font-size: 1.3rem;
		font-family: $font-stack
	}
}

#main {
	.category-feed {
		article {
			margin-bottom: 2rem;
			.byline {
				margin-bottom: 1rem;
				p {
					&.time-date {
						//text-transform: uppercase;
						padding-bottom: 0rem;
						font-size: 0.875rem;
						font-family: $font-stack-semi;
						text-transform: uppercase;
					}
				}
			}
			p {
				&.time-category a {
					background-color: $blue;
					padding: .25rem .5rem;
					color: white;
					font-size: 0.75rem;
					font-family: $font-stack-semi;
					text-transform: uppercase;
					display: inline-block;
					margin-bottom: 0.25rem;
					transition: all 200ms ease-in-out;
					&:hover {
						background-color: $lightblue;
					}
				}
			}
			a.source-link {
				//text-transform: uppercase;
				font-family: $font-stack-semi;
			}
			img {
				margin-bottom: 1.25rem;
				border: 1px solid #ccc;
			}
			h2 {
				font-size: 1.625rem;
				font-family: $font-stack;
				margin-bottom: 1rem;
			}
			p {
				font-size: 0.9375rem;
			}
			.news-source {
				display: inline-block;
				font-size: 0.75rem;
				font-family: $font-stack-semi;
				text-transform: uppercase;
				background-color: #f1f1f1;
				padding: 3px 6px;
				margin-top: 1rem;
				color: #a7a7a7;
			}
		}
	}
}



/*-------------------------------------------------------------------------------------------*/
/* CATEGORY FEED */
/*-------------------------------------------------------------------------------------------*/

.large-up-2 .article-thumbnail img {
	width: 100%;
	height: auto;
}
/*
.thumbnail-custom img {
	width: 100%;
	height: auto;
}
*/
.category-feed {
	//padding-top: 0.9375rem;
}

.full-width {
	.article-thumbnail,
	.sidebar-callout {
		img {
			//width: 100%;
			//height: auto;
		}
	}
}

.article-thumbnail {
	padding-bottom: 0.9375rem;
}
.row.small-collapse {
	.grid-margin-right {
		padding-right: 0.9375rem; // Margin added when collaspe is applied to columns to push sidebar
	}
	.entry-content,
	.article-header  {
		//background: red;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
	}
}
