/*-------------------------------------------------------------------------------------------*/
/* TEMPLATE-ID */
/*-------------------------------------------------------------------------------------------*/

.template-id {
	width: 100%;
	background: DeepPink;
	color: white;
	display: inline-block;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 20;
}



/*-------------------------------------------------------------------------------------------*/
/* MISC */
/*-------------------------------------------------------------------------------------------*/

.column {
	background: blue;
}