// Removes scroll bars in fullscreen mode
body.lg-on {
	overflow: hidden;
}

// Prevents false lightbox module empty area clicked
// Center align light gallery and video thuumnails
.light-gallery,
.light-gallery ul,
#video-gallery {
	display: inline-block;
	text-align: center;
}

//Customize Light Gallery Styles
.light-gallery {
	width: 100%;
	> ul {
		margin-bottom: 0;
		list-style: none;
		> li {
			float: left;
			margin-bottom: 15px;
			margin-right: 20px;
			width: 200px;
			&:last-of-type {
				margin-right: 0;
			}
			a {
				border: 3px solid #FFF;
				border-radius: 3px;
				display: block;
				overflow: hidden;
				position: relative;
				float: left;
				> img {
					transition: transform 0.15s ease 0s;
					transform: scale3d(1, 1, 1);
					height: 100%;
					width: 100%;
				}
				&:hover {
					> img {
						transform: scale3d(1.1, 1.1, 1.1);
					}
					&:hover .demo-gallery-poster {
						background-color: rgba(0, 0, 0, 0.5);
					}
				}
			}
		}
	}
}

.lightGallery {
	//position: relative;
	> ul {
		display: inline-block;
		margin-left: 0;
		list-style-type: none;
		> li {
			position: relative;
			float: left;
			margin-bottom: 15px;
			margin-right: 20px;
			//display: none; // Hide list items with images
			a {
				border: 3px solid #FFF;
				border-radius: 3px;
				display: block;
				overflow: hidden;
				//position: relative;
				float: left;
				background: #111;
				> img {
					transform: scale3d(1, 1, 1);
					transition: transform 0.15s ease 0s;
				} //img
				&:hover {
					> img {
						transform: scale3d(1.2, 1.2, 1.2);
						opacity: .5;
					} // :hover img
				} // :hover
			} // a
			.demo-gallery-poster {
				position: absolute;
				display: block;
				top:50%;
				left: 50%;
				margin-left: -15px;
				margin-top: -15px;
				transition: opacity .5s ease 0s;
				opacity: 0;
				pointer-events: none;
			}
			&:hover .demo-gallery-poster {
				opacity: 1;
			}
		}
	}
}




/*-------------------------------------------------------------------------------------------*/
/* IMAGE GALLERY STYLES */
/*-------------------------------------------------------------------------------------------*/

[class*="gallery-columns-"] {
  display: block;
  padding: 0;
  margin: 0 -0.625rem; }

[class*="gallery-columns-"]:before, [class*="gallery-columns-"]:after {
  content: " ";
  display: table; }

[class*="gallery-columns-"]:after {
  clear: both; }

[class*="gallery-columns-"] > .gallery-item {
  display: inline;
  height: auto;
  float: left;
  text-align: center;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-1 > .gallery-item {
  width: 100%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-1 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-1 > .gallery-item:nth-of-type(1n+1) {
  clear: both; }

.gallery-columns-2 > .gallery-item {
  width: 50%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-2 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-2 > .gallery-item:nth-of-type(2n+1) {
  clear: both; }

.gallery-columns-3 > .gallery-item {
  width: 33.33333%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-3 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-3 > .gallery-item:nth-of-type(3n+1) {
  clear: both; }

.gallery-columns-4 > .gallery-item {
  width: 25%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-4 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-4 > .gallery-item:nth-of-type(4n+1) {
  clear: both; }

.gallery-columns-5 > .gallery-item {
  width: 20%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-5 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-5 > .gallery-item:nth-of-type(5n+1) {
  clear: both; }

.gallery-columns-6 > .gallery-item {
  width: 16.66667%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-6 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-6 > .gallery-item:nth-of-type(6n+1) {
  clear: both; }

.gallery-columns-7 > .gallery-item {
  width: 14.28571%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-7 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-7 > .gallery-item:nth-of-type(7n+1) {
  clear: both; }

.gallery-columns-8 > .gallery-item {
  width: 12.5%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-8 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-8 > .gallery-item:nth-of-type(8n+1) {
  clear: both; }

.gallery-columns-9 > .gallery-item {
  width: 11.11111%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-9 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-9 > .gallery-item:nth-of-type(9n+1) {
  clear: both; }

.gallery-columns-10 > .gallery-item {
  width: 10%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-10 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-10 > .gallery-item:nth-of-type(10n+1) {
  clear: both; }

.gallery-columns-11 > .gallery-item {
  width: 9.09091%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-11 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-11 > .gallery-item:nth-of-type(11n+1) {
  clear: both; }

.gallery-columns-12 > .gallery-item {
  width: 8.33333%;
  padding: 0 0.625rem 1.25rem; }

.gallery-columns-12 > .gallery-item:nth-of-type(n) {
  clear: none; }

.gallery-columns-12 > .gallery-item:nth-of-type(12n+1) {
  clear: both; }

/* A gallery image caption */
.gallery .gallery-caption {
  color: #888;
  line-height: 1.4;
  font-size:  0.75rem;
  margin: 0 0 12px;
  padding-top: 10px; }

/* The actual image inside a container
for 3, 2 and 4 column galleries */
.gallery img {
	//box-shadow: 0px 0px 4px #999;
	border: 1px solid #DDD;
	&:hover {
		//background: white;
		//border: 1px solid red;
	}
}