.sidebar ul {
	padding-left: 0;
	li {
		margin-bottom: 0;
	}
}

.sidebar {
	.sidebar-highlight {
		&:hover > .column {
			transition: all 300ms ease-in-out;
			background-color: $green;
			display: inline-block;
		}
	}
}

.row.sidebar-container {
	background-color: #FAFAFA;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 0px; // Override Foundation margin-bottom
	//padding: 20px;
	h1, h2, h3, h4, h5 {
		color: black;
		//margin-top: 20px;
		font-family: $font-stack-bold;
	}
	h3 {
		font-size: 1.25rem;
	}
	.sidebar-callout {
		//background: red;
		//margin-bottom: 40px;
		//padding-top: 0.9375rem;
		p {
			color: #000;
		}
		img {
			margin-bottom: 20px;
			width: 100%;
			height: auto;
		}
	}
	.columns {
		//background: red;
		padding-top: 0.9375rem;
	}
}

#main {
	form {
		//background: red;
		p {
			padding-bottom: 0;
		}
	}
}

.widget {
	margin-bottom: 30px;
}


